<table>
  <thead>
    <tr>
      <th>Enforced<br>Categories</th>
      <th>Excluded<br>Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%- include("itemsList.ejs", {itemType: 'categoryLink', items: enforced_categories}) %></td>
      <td><%- include("itemsList.ejs", {itemType: 'categoryLink', items: incompatible_categories}) %></td>
    </tr>
  </tbody>
</table>