<%_ const postUrl = `/categories/${data.id}/delete` _%>
<form action=<%= postUrl %> method="POST">
  <p>Are you sure you want to delete this category?</p>
  <%- include("protectedItem.ejs") _%>
  <div>
    <%- include("backButton.ejs", {fallbackUrl: "/categories"}) _%>
    <%- include("submitButton.ejs", {label: "DELETE"}) _%>
  </div>
</form>