<%_ if(notes){ _%>
<table class="item-details">
  <tbody>
    <%_ if(notes){ _%>
    <tr>
      <th scope="row">Notes</th>
      <td><%= notes %></td>
    </tr>
    <%_ } _%>
  </tbody>
</table>
<%_ } _%>