<div>
  <%- include("inputValidationErrors.ejs") _%>
  <ul>
    <%_ list.forEach((value,idx) => { 
    const checked = locals.data?.[name]?.includes(value) _%>
    <li><%- include("checkbox.ejs", {name, value, checked, validationErrors: null}) _%></li>
    <%_ }) _%>
  </ul>
</div>