<label>
  <input type="checkbox" <% if (typeof id !== 'undefined') { %> id="<%= id %>" <% } %> name="<%= name %>" <% if (typeof value !== 'undefined') { %> value="<%= value %>" <% } %>><%= locals.label || value -%>
</label>