<%_ 
    if (locals.created_at) {
        const date2Str = (date) => new Date(date).toLocaleString(['en-gb']);

        let createdAtStr = `Created on ${date2Str(locals.created_at)}${locals.created_by ? " by " + locals.created_by : ""}`;
        createdAtStr += locals.updated_at ? `; last updated on ${date2Str(locals.updated_at)}${locals.updated_by ? " by " + locals.updated_by : ""}.` : ".";
_%>
<p><%= createdAtStr %></p>
<%_ } _%>