<%_ if (ingredients?.length > 0) { _%>
<table class="fill-first-column responsive">
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Stock</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <%_ ingredients.forEach(ingredient => { _%>
    <tr>
      <td data-label="Ingredient"><%- include("ingredientLink.ejs", ingredient) %></td>
      <td data-label="Stock"><%=ingredient.stock %></td>
      <td data-label="Price"><%=ingredient.price %></td>
    </tr>
    <%_ }) _%>
  </tbody>
</table>
<%_ } else { _%>
<p class="empty-table">No ingredients in this pizza.</p>
<%_ } _%>