<table class="two-columns responsive">
  <thead>
    <tr>
      <th>Enforcing Ingredients</th>
      <th>Incompatible Ingredients</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Enforcing Ingredients"><%- include("itemsList.ejs", {itemType: 'ingredientLink', items: enforcing_ingredients}) %></td>
      <td data-label="Incompatible Ingredients"><%- include("itemsList.ejs", {itemType: 'ingredientLink', items: incompatible_ingredients}) %></td>
    </tr>
  </tbody>
</table>