<%_ const postUrl = `/ingredients/${data.id}/delete` _%>
<form action=<%= postUrl %> method="POST">
  <p>Are you sure you want to delete ingredient "<%= data.name %>"?</p>
  <%- include("protectedItem.ejs") _%>
  <%- include("formActions.ejs", {fallbackUrl: "/ingredients",label: "DELETE"}) _%>
  </div>
</form>