<table>
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Stock</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <%_ ingredients.forEach(ingredient => { _%>
    <tr>
      <td><%- include("ingredientLink.ejs", ingredient) %></td>
      <td><%=ingredient.stock %></td>
      <td><%=ingredient.price %></td>
    </tr>
    <%_ }) _%>
  </tbody>
</table>