<%_ if (ingredients?.length > 0) { _%>
<table class="fill-first-column  with-actions responsive">
  <thead>
    <tr>
      <th>Ingredient</th>
      <th class="numeric-data">Stock</th>
      <th class="numeric-data">Price</th>
      <th aria-label="Actions"></th>
    </tr>
  </thead>
  <tbody>
    <%_ ingredients.forEach(ingredient => { _%>
    <tr>
      <td data-label="Ingredient"><%- include("ingredientLink.ejs", ingredient) %></td>
      <td class="numeric-data" data-label="Stock"><%=ingredient.stock %></td>
      <td class="numeric-data" data-label="Price"><%= formatCost(ingredient.price) %></td>
      <td data-label="Actions"><%- include("itemActions.ejs", {baseRoute: "/ingredients", id: ingredient.id, showRestock: true,  showEdit: false,  showDelete: false}) %></td>
    </tr>
    <%_ }) _%>
  </tbody>
</table>
<%_ } else { _%>
<p class="empty-table">No ingredients in this pizza.</p>
<%_ } _%>