<table>
  <tbody>
    <tr>
      <th scope="row">Stock</th>
      <td><%= stock %></td>
    </tr>
    <tr>
      <th scope="row">Price</th>
      <td><%= price %></td>
    </tr>
    <%_ if(notes){ _%>
    <tr>
      <th scope="row">Notes</th>
      <td><%= notes %></td>
    </tr>
    <%_ } _%>
  </tbody>
</table>