<%_ const postUrl = `/ingredients/${data.id}/restock` _%>
<form action=<%= postUrl %> method="POST">
  <p>This ingredient currently has <strong><%= data.stock %> units</strong> in stock.</p>
  <fieldset>
    <legend>Add to stock</legend>
    <%- include("input.ejs", {type: "number", value: 100, name: "unitsToRestock", label: "Units", min: 1, step: 1, required: true}) _%>
  </fieldset>
  <%- include("formActions.ejs", {fallbackUrl: "/ingredients",label: "RESTOCK"}) _%>
  </div>
</form>