<div>
  <%_ 
  const editUrl = `${baseRoute}/${id}/edit`;
  const deleteUrl = `${baseRoute}/${id}/delete`;
  const restockUrl = `${baseRoute}/${id}/restock`;
  _%>
  <%_ if (locals.showRestock ?? false){ _%>
  <a href="<%= restockUrl %>"><span class="icon icon-restock" title="Restock"></span></a>
  <%_ } _%>
  <%_ if (locals.showEdit ?? true){ _%>
  <a href="<%= editUrl %>"><span class="icon icon-edit" title="Edit"></span></a>
  <%_ } _%>
  <%_ if (locals.showDelete ?? true){ _%>
  <a href="<%= deleteUrl %>"><span class="icon icon-delete" title="Delete"></span></a>
  <%_ } _%>
</div>