<div>
  <%_ 
  const editUrl = `${baseRoute}/${id}/edit`;
  const deleteUrl = `${baseRoute}/${id}/delete`;
  _%>
  <a href="<%= editUrl %>"><span class="icon icon-edit" title="Edit"></span></a>
  <a href="<%= deleteUrl %>"><span class="icon icon-delete" title="Delete"></span></a>
</div>