<%_ const postUrl = `/pizzas/${data.id}/delete` _%>
<form action=<%= postUrl %> method="POST">
  <p>Are you sure you want to delete this pizza?</p>
  <%- include("protectedItem.ejs") _%>
  <div>
    <%- include("backButton.ejs", {fallbackUrl: "/pizzas"}) _%>
    <%- include("submitButton.ejs", {label: "DELETE"}) _%>
  </div>
</form>