<%_ const postUrl = `/pizzas/${data.id}/delete` _%>
<form action=<%= postUrl %> method="POST">
  <p>Are you sure you want to delete this pizza?</p>
  <%- include("protectedItem.ejs") _%>
  <div>
    <button type="button" onclick="history.back()">Back</button>
    <button type="submit">DELETE</button>
  </div>
</form>