<table class="three-columns responsive">
  <thead>
    <tr>
      <th>User-defined For</th>
      <th>Enforced In</th>
      <th>Incompatible With</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="User-defined For"><%- include("itemsList.ejs", {itemType: 'pizzaLink', items: pizzas}) %></td>
      <td data-label="Enforced In"><%- include("itemsList.ejs", {itemType: 'pizzaLink', items: enforced_in_pizzas}) %></td>
      <td data-label="Incompatible With"><%- include("itemsList.ejs", {itemType: 'PizzaLink', items: incompatible_with_pizzas}) %></td>
    </tr>
  </tbody>
</table>