<table>
  <thead>
    <tr>
      <th>User-defined<br>For</th>
      <th>Enforced<br>In</th>
      <th>Incompatible<br>With</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%- include("itemsList.ejs", {itemType: 'pizzaLink', items: pizzas}) %></td>
      <td><%- include("itemsList.ejs", {itemType: 'pizzaLink', items: enforced_in_pizzas}) %></td>
      <td><%- include("itemsList.ejs", {itemType: 'PizzaLink', items: incompatible_with_pizzas}) %></td>
    </tr>
  </tbody>
</table>