<fieldset>
  <legend>Protection</legend>
  <%- include("checkbox.ejs", {name: "is_protected", id: "is_protected", checked: locals.data?.is_protected, label: "Protect this item from edits or deletion." }) _%>

  <div id="passwordDiv">
    <%_ 
    const editProtectedItem = locals.edit && locals.data?.is_protected;

    const inputParams = {type: "password", name: "password", label: "Password", maxlength: process.env.PWD_MAX_LENGTH, required: editProtectedItem};
    const inputP = editProtectedItem ? "<strong>This item is protected.</strong> Admin password is required to apply changes." : "Admin password is required to enable protection or apply changes later on.";
    _%>

    <p><%- inputP _%></p>
    <%- include("input.ejs", inputParams) _%>
  </div>

  <%_ if(!editProtectedItem){ _%>
  <script>
    (() => {
      const protectedInput = document.querySelector("#is_protected");
      const passwordInputDiv = document.querySelector("#passwordDiv");
      const passwordInput = passwordInputDiv.querySelector('input[type="password"]');

      const setPasswordInputConstraints = () => {
        if (protectedInput.checked) {
          passwordInput.required = true;
          passwordInput.disabled = false;
          // passwordInputDiv.style.visibility = "visible";
          passwordInputDiv.style.display = "block";
        } else {
          passwordInput.required = false;
          passwordInput.disabled = true;
          // passwordInputDiv.style.visibility = "hidden";
          passwordInputDiv.style.display = "none";
        }
      }

      protectedInput.onchange = setPasswordInputConstraints;
      window.addEventListener('pageshow', setPasswordInputConstraints);
      // setPasswordInputConstraints();
    })();
  </script>
  <%_ } _%>
</fieldset>