<fieldset>
  <legend>Protection</legend>
  <%- include("checkbox.ejs", {name: "is_protected", id: "is_protected", checked: locals.data?.is_protected, label: "Protect this item from edits or deletion." }) _%>

  <div id="passwordDiv">
    <p>Admin password is required to enable protection or apply changes.</p>
    <%- include("input.ejs",{type: "password", name: "password", label: "Password", maxlength: process.env.PWD_MAX_LENGTH}) _%>
  </div>
  <script>
    (() => {
      const protectedInput = document.querySelector("#is_protected");
      const passwordInputDiv = document.querySelector("#passwordDiv");
      const passwordInput = passwordInputDiv.querySelector('input[type="password"]');

      const setPasswordInputConstraints = () => {
        if (protectedInput.checked) {
          passwordInput.required = true;
          passwordInput.disabled = false;
          passwordInputDiv.style.visibility = "visible";
        } else {
          passwordInput.required = false;
          passwordInput.disabled = true;
          passwordInputDiv.style.visibility = "hidden";
        }
      }

      protectedInput.onchange = setPasswordInputConstraints;
      window.addEventListener('pageshow', setPasswordInputConstraints);
      // setPasswordInputConstraints();
    })();
  </script>
</fieldset>