<fieldset>
  <legend>Protection</legend>
  <%- include("checkbox.ejs", {name: "protected", id: "protected", label: "Protect this item from edits or deletion. Admin password is required to enable protection or apply changes." }) _%>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" maxlength="<%= process.env.PWD_MAX_LENGTH %>">
  </div>
  <script>
    const protectedInput = document.querySelector("#protected");
    const passwordInput = document.querySelector("#password");

    const setPasswordInputConstraints = () => {
      if (protectedInput.checked) {
        passwordInput.required = true;
        passwordInput.disabled = false;
        passwordInput.parentElement.style.visibility = "visible";
      } else {
        passwordInput.required = false;
        passwordInput.disabled = true;
        passwordInput.parentElement.style.visibility = "hidden";
      }
    }

    protectedInput.onchange = setPasswordInputConstraints;
    window.addEventListener('pageshow', setPasswordInputConstraints);
    // setPasswordInputConstraints();
  </script>
</fieldset>