<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %> | Categories</title>
</head>

<body>
  <%- include("partials/header.ejs",{highlightLink: "categories"}) %>
  <h2>Categories</h2>
  <a href="/categories/new">New</a>
  <%- include("partials/categoriesBriefTable.ejs") %>
</body>

</html>