<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %></title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <h2><%= pageTitle %></h2>
  <div>
    <img src="/images/pizza.png" alt="Image of a pizza" />
    <a href="https://www.freepik.com/free-psd/hand-drawn-delicious-food-restaurant-instagram-post_30859579.htm#fromView=serie&page=1&position=5">Image by freepik (edited)</a>
  </div>
</body>

<%- include("partials/creditFooter.ejs") %>

</html>