<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %> | Add New Ingredient</title>
</head>

<body>
  <%- include("partials/header.ejs",{pageTitle,highlightLink: "ingredients"}) %>
  <h2>Add New Ingredient</h2>
  <%- include("partials/ingredientNewForm.ejs", {categories, pizzas, protectedPizzas}) %>
</body>

</html>