<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %> | Pizzas</title>
</head>

<body>
  <%- include("partials/header.ejs",{highlightLink: "pizzas"}) %>
  <h2>Pizzas</h2>
  <a href="/pizzas/new">New</a>
  <%- include("partials/pizzasBriefTable.ejs", {pizzasBriefData}) %>
</body>

<%- include("partials/creditFooter.ejs") %>

</html>